@import 'leaflet/dist/leaflet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b111e;
  color: white;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #0b111e; }
::-webkit-scrollbar-thumb { background: #1a2d4a; border-radius: 4px; }
